
$color1-cream: #f9ffcb;
$color2-light-purple: #CDFADB;
$color3-dark-purple: #FF9494;
$color3-darker-purple: #9d2b2b;
$color4-blue: #0897a7;
$color5-blue: #17c8a1;
$color5-yellow: #cbe21a;
$color4-soft-blue: #FFD1D1;
$color4-soft-orange: #fc9b0d;
$color4-canyesil: #C6FA6F;


