
$color1-cream: #FFEAD1;
$color2-light-purple: #C679B8;
$color3-dark-purple: #FF9494;
$color3-darker-purple: #FF9770;
$color4-blue:#6162EB;
$color5-blue: #82eb32;
$color5-yellow: #C7EB61;
$color4-soft-blue: #FFD1D1;
$color4-soft-orange: #fc9b0d;
$color4-canyesil: #82eb32;
$color4-new-purple: #C6A8FE;


