
$color1-cream: #FFEAD1;
$color2-light-purple: #C679B8;
$color3-pink:  rgb(245, 165, 179);
$color3-dark-pink: #930965;
$color4-blue:#c9c5f6;
$color5-blue: #5b3be8;
$color4-soft-orange: #ff7c25;
$color4-canyesil:#CFFF92;
$color5-canyesil:#bcf572;
$color4-new-purple: #C6A8FE;
$color4-yellow: rgb(248, 248, 14);


