@use "../../styles/variables" as v;

.skillsList{
background-image: url("/images/orange.jpg");
background-position: center;
background-repeat: none;
background-size: cover;
height: 100%;
width: 100%;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
align-content: center;

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;


    .skills-row{
        display: flex;
        gap: 120px;
        justify-content: center;
        align-items: center;
        align-content: center;


        .skill-col{
            display: flex;
           flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;

            .langs{

            display: flex;
            gap: 20px;


                .skill-img{

                    font-size: 50px;
    
                }

                .skills-tit{
            color:v.$color4-soft-orange ;
                    font-weight:700;
                    font-size: 20px;

                }
            }

           
        }
    }
    
}



.skill-col{

    .langs{
        display: flex;
    }

    .skills-title{
        color:v.$color5-blue;
    }
    
}




}

