@use "../../../styles/variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.header-navbar {
  display: flex;
  justify-content: center;
  padding: 10px !important;

  width: 100%;
  transition: background-color 0.3s ease;
  background-color: transparent; // Başlangıçta şeffaf


  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;

  &.scrolled {
    background-color: #2d1694; // Kaydırıldığında değişen renk

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }

  .container {
    .navbar-brand {
      color: v.$color3-darker-purple;
      font-size: 1.5rem;
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .nav-link {
      color: v.$color3-dark-purple;
      font-size: 1.4rem;
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal;

    }

    .navbar-nav {
      display: flex;
      justify-content: center !important;

      .nav-link.active {
        color: v.$color4-blue;
      }
    }
  }
}
