@use "../../styles/variables" as v;

.download-cv{
    color: v.$color5-blue;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border: v.$color4-yellow solid 1px;
    &:hover{
        transform: scale(1.1);
    }

  
}