@use "../../styles/variables" as v;


a{
    list-style: none;
    text-decoration: none;
    color: v.$color5-yellow;
}

.home-page{

background-position: center;
background-repeat: none;
background-size: cover;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
background-attachment: fixed;


.bg-video {
    object-fit:cover;
    object-position: center 38%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

.all-container{

    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;

    
.entries{
    color: v.$color3-dark-purple;
    background-color: transparent;

    height: 130px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    span{
        color: v.$color5-blue;
    }
}

.information{
    display: flex;
    gap: 20px;
    margin: 20px;
   >  h4{
        background-color: v.$color3-dark-purple;
        color: v.$color5-yellow;
        padding: 10px 40px;
        border-radius: 10px;
        cursor: pointer;
        ;

        > span{
            color: v.$color5-blue;
        }
    }
}
}



}