
.backGroundList{
    background-image: url("/images/experience-bg.png");
  
background-position: center;
background-repeat: none;
background-size: cover;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
align-content: center;

}