
.intro {
    background: white;
    padding: 10px 0;


    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        h1 {
                text-align: center;
                padding-top: 80px;
                
                font-size: 3rem;
                color: black;
        }

    }

}