@use "../../styles/variables" as v;

.second-bg {
  background-color: v.$color4-new-purple;
  position: relative;
  height:100%;
  width: 100%;



  .title {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 20px;
    color:v.$color4-canyesil;

    .cizik {
      color: v.$color3-dark-pink;
    }
  }

  .bg-video {
    object-fit:cover;
    object-position: center 38%;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .me {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 10%;
    color: v.$color1-cream;
    .who-am {
      color: v.$color4-yellow;
font-weight: bold;    
text-align: center;
> p{
font-weight: lighter;    
  
}
}
  }
}
